#current-instagram-profile {
  background: #fdfdfd;
  position: relative;
  padding: 20px;
  margin: 20px auto 0;
  min-height: 100px;
  box-shadow: 0 0 3px #cfcfcf;
  border-radius: 2px;
  width: 420px;
}
#current-instagram-profile .avatar {
  position: absolute;
  top: 20px;
  left: 20px;
}
#current-instagram-profile .avatar img {
  border-radius: 5px;
  width: 100px;
  height: 100px;
}
#current-instagram-profile .data {
  display: block;
  margin: 0 0 0 120px;
}
#current-instagram-profile .data .full-name {
  margin: 0 0 5px;
}
#current-instagram-profile .data .username {
  margin: 0  0 5px;
}

#deauth-instagram {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #a00 !important;
  text-decoration: none;
}
#deauth-instagram:hover {
  color: red;
  text-decoration: underline;
}

#feed {
  width: 400px;
  padding: 30px;
  background: #e0e1e2;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.05), inset -1px 0 0 rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}
#feed .item {
  background: white;
  box-shadow: 0 0 3px #999;
}
#feed .item .image {
  width: 400px;
}
#feed .item .image img {
  width: 100%;
}
#feed .item .user {
  padding: 10px;
  position: relative;
  background: #fefefe;
  border-bottom: 1px solid #dfdfdf;
  min-height: 75px;
}
#feed .item .user .avatar {
  width: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
#feed .item .user .avatar img {
  width: 100%;
}
#feed .item .user .caption {
  padding-left: 70px;
  display: block;
  word-break: break-all;
}
#feed .item .user .caption a {
  font-weight: bold;
}
#feed .item .comments,
#feed .item .likes,
#feed .item .tags,
#feed .item .time {
  padding: 5px 10px 5px 70px;
  border-bottom: 1px solid #dfdfdf;
  font-weight: bold;
}
#feed .more-items {
  width: 100px;
  text-align: center;
  padding: 7px 0;
  margin: 0 auto;
  display: block;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  background: #f3f3f3;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
#feed .more-items:hover {
  background: #f1f1f1;
}
#feed .more-items:active {
  background: #f0f0f0;
}
