#current-instagram-profile {
  background: #fdfdfd;
  position: relative;
  padding: 20px;
  margin: 20px auto 0;
  min-height: 100px;
  border: 1px solid #dfdfdf;
  border-bottom: none;
  width: 418px;
}
#current-instagram-profile .avatar {
  position: absolute;
  top: 20px;
  left: 20px;
}
#current-instagram-profile .avatar img {
  border-radius: 5px;
  width: 100px;
  height: 100px;
}
#current-instagram-profile .data {
  display: block;
  margin: 0 0 0 120px;
}
#current-instagram-profile .data .full-name {
  margin: 0 0 5px;
}
#current-instagram-profile .data .username {
  margin: 0  0 5px;
}

.wp-ig-wrap-loading {
  text-align: center;
}
.wp-ig-wrap-loading img.loading {
  width: 16px;
  height: 16px;
}

.wp-ig.instagram-items-title {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 0;
  text-transform: uppercase;
}

.wp-ig.instagram-items {
  width: 400px;
  padding: 30px;
  background: #e0e1e2;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.05), inset -1px 0 0 rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto 40px;
}
.wp-ig.instagram-items .instagram-item {
  background: white;
  box-shadow: 0 0 3px #999;
  margin-bottom: 30px;
  position: relative;
}
.wp-ig.instagram-items .instagram-item .actions {
  position: absolute;
  top: 0;
  left: -150px;
  width: 90px;
  padding: 5px 15px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}
.wp-ig.instagram-items .instagram-item .actions a {
  text-decoration: none;
}
.wp-ig.instagram-items .instagram-item .actions a.item-posted {
  color: #bfbfbf;
}
.wp-ig.instagram-items .instagram-item .actions a.item-posted:hover {
  color: #999;
}
.wp-ig.instagram-items .instagram-item .actions a.item-posted:active {
  color: #afafaf;
}
.wp-ig.instagram-items .instagram-item .media {
  width: 400px;
  height: 400px;
}
.wp-ig.instagram-items .instagram-item .media video,
.wp-ig.instagram-items .instagram-item .media img {
  width: 100%;
  margin-bottom: 0;
}
.wp-ig.instagram-items .instagram-item .meta {
  position: relative;
  background: #fefefe;
  border-bottom: 1px solid #dfdfdf;
  min-height: 75px;
}
.wp-ig.instagram-items .instagram-item .meta .avatar {
  width: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.wp-ig.instagram-items .instagram-item .meta .avatar img {
  width: 100%;
  border-radius: 50%;
}
.wp-ig.instagram-items .instagram-item .meta .caption {
  display: block;
  overflow: hidden;
}
.wp-ig.instagram-items .instagram-item .meta .caption a {
  font-weight: bold;
}
.wp-ig.instagram-items .instagram-item .info {
  font-size: 14px;
}
.wp-ig.instagram-items .instagram-item .info .username {
  margin: 18px 0 5px;
  font-weight: bold;
}
.wp-ig.instagram-items .instagram-item .info .meta-time {
  margin: 3px 0 0;
  color: #999;
}
.wp-ig.instagram-items .instagram-item .info .meta-time a {
  color: #999;
}
.wp-ig.instagram-items .instagram-item .info {
  padding: 5px 10px 5px 70px;
}
.wp-ig.instagram-items .instagram-item .instagram-likes {
  border-bottom: 1px solid #dfdfdf;
  box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.05);
  font-size: 13px;
  padding: 8px 20px;
  color: #bfbfbf;
  background: #fafafa;
  line-height: 1.5;
}
.wp-ig.instagram-items .instagram-item .instagram-likes a {
  text-decoration: none;
  color: #888;
}
.wp-ig.instagram-items .instagram-item .instagram-likes a:hover {
  color: #444;
  text-decoration: underline;
}
.wp-ig.instagram-items .instagram-item .instagram-comments {
  border-top: 1px solid #dfdfdf;
  box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.05);
  padding-bottom: 11px;
}
.wp-ig.instagram-items .instagram-item .instagram-comments .instagram-comment {
  position: relative;
}
.wp-ig.instagram-items .instagram-item .instagram-comments .instagram-comment .avatar {
  width: 25px;
  top: 10px;
  left: 25px;
}
.wp-ig.instagram-items .instagram-item .instagram-comments .instagram-comment .info {
  padding: 10px 10px 5px 70px;
  border-bottom: none;
}
.wp-ig.instagram-items .instagram-item .instagram-comments .instagram-comment .caption {
  font-size: 13px;
}
.wp-ig.instagram-items .instagram-item .instagram-comments .view-more-comments {
  text-decoration: none;
  font-weight: normal;
}
.wp-ig.instagram-items .more-instagram-items {
  width: 100px;
  text-align: center;
  padding: 7px 0;
  margin: 0 auto;
  display: block;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  background: #f3f3f3;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.wp-ig.instagram-items .more-instagram-items .loading,
.wp-ig.instagram-items .more-instagram-items .label {
  vertical-align: middle;
}
.wp-ig.instagram-items .more-instagram-items .loading {
  margin-right: 5px;
  display: none;
}
.wp-ig.instagram-items .more-instagram-items.loading {
  width: 120px;
}
.wp-ig.instagram-items .more-instagram-items.loading .loading {
  display: inline-block;
}
.wp-ig.instagram-items .more-instagram-items .label {
  line-height: .6;
}
.wp-ig.instagram-items .more-instagram-items:hover {
  background: #f1f1f1;
}
.wp-ig.instagram-items .more-instagram-items:active {
  background: #f0f0f0;
}

.wp-ig-wrap.loading {
  position: relative;
}
.wp-ig-wrap.loading:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "Loading...";
  background: white;
  opacity: .9;
  text-align: center;
  padding: 20px;
}

/**
 * Support for small screen(s)
 */
@media all and (max-width: 420px) {
  .wp-ig.instagram-items {
    width: 90%;
    padding: 10px;
  }
  .wp-ig.instagram-items .instagram-item {
    margin-bottom: 10px;
  }
  .wp-ig.instagram-items .instagram-item .media {
    width: 100%;
    height: 100%;
  }
}
.wp-admin .wp-ig.instagram-items-title {
  width: 398px;
  background: white;
  margin: 0 auto;
  padding: 15px 30px;
  border: 1px solid #dfdfdf;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

@media all and (max-width: 420px) {
  #current-instagram-profile {
    width: 95%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .wp-admin .wp-ig.instagram-items-title {
    width: 95%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
