#current-instagram-profile {
  background: #fdfdfd;
  position: relative;
  padding: 20px;
  margin: 20px auto 0;
  min-height: 100px;
  border: 1px solid #dfdfdf;
  border-bottom: none;
  width: 418px;
}
#current-instagram-profile .avatar {
  position: absolute;
  top: 20px;
  left: 20px;
}
#current-instagram-profile .avatar img {
  border-radius: 5px;
  width: 100px;
  height: 100px;
}
#current-instagram-profile .data {
  display: block;
  margin: 0 0 0 120px;
}
#current-instagram-profile .data .full-name {
  margin: 0 0 5px;
}
#current-instagram-profile .data .username {
  margin: 0  0 5px;
}

#deauth-instagram {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #a00 !important;
  text-decoration: none;
}
#deauth-instagram:hover {
  color: red;
  text-decoration: underline;
}

#feed-title {
  width: 398px;
  background: white;
  margin: 0 auto;
  padding: 15px 30px;
  border: 1px solid #dfdfdf;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

#feed {
  width: 400px;
  padding: 30px;
  background: #e0e1e2;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.05), inset -1px 0 0 rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}
#feed .instagram-item {
  background: white;
  box-shadow: 0 0 3px #999;
  margin-bottom: 30px;
}
#feed .instagram-item .media {
  width: 400px;
}
#feed .instagram-item .media img {
  width: 100%;
}
#feed .instagram-item .meta {
  padding: 10px;
  position: relative;
  background: #fefefe;
  border-bottom: 1px solid #dfdfdf;
  min-height: 75px;
}
#feed .instagram-item .meta .avatar {
  width: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
#feed .instagram-item .meta .avatar img {
  width: 100%;
}
#feed .instagram-item .meta .caption {
  display: block;
}
#feed .instagram-item .meta .caption a {
  font-weight: bold;
}
#feed .instagram-item .info {
  font-size: 14px;
}
#feed .instagram-item .info .username {
  margin: 0 0 10px;
  font-weight: bold;
}
#feed .instagram-item .info .meta-time {
  margin: 3px 0 0;
  color: #999;
}
#feed .instagram-item .info .meta-time a {
  color: #999;
}
#feed .instagram-item .info,
#feed .instagram-item .comments {
  border-bottom: 1px solid #dfdfdf;
  padding: 5px 10px 5px 70px;
}
#feed .instagram-item .likes {
  padding: 5px 10px 0 70px;
}
#feed .more-instagram-items {
  width: 100px;
  text-align: center;
  padding: 7px 0;
  margin: 0 auto;
  display: block;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  background: #f3f3f3;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
#feed .more-instagram-items:hover {
  background: #f1f1f1;
}
#feed .more-instagram-items:active {
  background: #f0f0f0;
}
