.wp-ig.instagram-items-title {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 0;
  text-transform: uppercase;
}

.wp-ig.instagram-items {
  width: 400px;
  padding: 30px;
  background: #e0e1e2;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.05), inset -1px 0 0 rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto 40px;
}
.wp-ig.instagram-items .instagram-item {
  background: white;
  box-shadow: 0 0 3px #999;
  margin-bottom: 30px;
}
.wp-ig.instagram-items .instagram-item .media {
  width: 400px;
}
.wp-ig.instagram-items .instagram-item .media video,
.wp-ig.instagram-items .instagram-item .media img {
  width: 100%;
}
.wp-ig.instagram-items .instagram-item .meta {
  position: relative;
  background: #fefefe;
  border-bottom: 1px solid #dfdfdf;
  min-height: 75px;
}
.wp-ig.instagram-items .instagram-item .meta .avatar {
  width: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.wp-ig.instagram-items .instagram-item .meta .avatar img {
  width: 100%;
  border-radius: 50%;
}
.wp-ig.instagram-items .instagram-item .meta .caption {
  display: block;
}
.wp-ig.instagram-items .instagram-item .meta .caption a {
  font-weight: bold;
}
.wp-ig.instagram-items .instagram-item .info {
  font-size: 14px;
}
.wp-ig.instagram-items .instagram-item .info .username {
  margin: 18px 0 5px;
  font-weight: bold;
}
.wp-ig.instagram-items .instagram-item .info .meta-time {
  margin: 3px 0 0;
  color: #999;
}
.wp-ig.instagram-items .instagram-item .info .meta-time a {
  color: #999;
}
.wp-ig.instagram-items .instagram-item .info {
  border-bottom: 1px solid #dfdfdf;
  padding: 5px 10px 5px 70px;
}
.wp-ig.instagram-items .instagram-item .likes {
  padding: 5px 10px 0 70px;
  margin-bottom: -3px;
}
.wp-ig.instagram-items .instagram-item .likes {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}
.wp-ig.instagram-items .instagram-item .instagram-comments .instagram-comment {
  position: relative;
}
.wp-ig.instagram-items .instagram-item .instagram-comments .instagram-comment .avatar {
  width: 25px;
  top: 10px;
  left: 25px;
}
.wp-ig.instagram-items .instagram-item .instagram-comments .instagram-comment .info {
  padding: 10px 10px 5px 70px;
  border-bottom: none;
}
.wp-ig.instagram-items .instagram-item .instagram-comments .instagram-comment .caption {
  font-size: 13px;
}
.wp-ig.instagram-items .instagram-item .instagram-comments .view-more-comments {
  text-decoration: none;
  font-weight: normal;
}
.wp-ig.instagram-items .more-instagram-items {
  width: 100px;
  text-align: center;
  padding: 7px 0;
  margin: 0 auto;
  display: block;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  background: #f3f3f3;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.wp-ig.instagram-items .more-instagram-items:hover {
  background: #f1f1f1;
}
.wp-ig.instagram-items .more-instagram-items:active {
  background: #f0f0f0;
}
