#current-instagram-profile{
	background: #fdfdfd;
	position: relative;
	padding: 20px;
	margin: 20px auto 0;
	min-height: 100px;
	// box-shadow: 0 0 3px #cfcfcf;
	border: 1px solid #dfdfdf;
	border-bottom: none;
	width: 418px;

	.avatar{
		position: absolute; 
		top: 20px;
		left: 20px;

		img{
			border-radius: 5px;
			width: 100px;
			height: 100px;
		}
	}

	.data{
		display: block;
		margin: 0 0 0 120px;

		.full-name{
			margin: 0 0 5px;
		}

		.username{
			margin: 0  0 5px;
		}
	}
}

// Importing public styling instead of repeating it here
@import "wp-ig";

.wp-admin{
	.wp-ig.instagram-items-title{
		width: 398px;
		background: white;
		margin: 0 auto;
		padding: 15px 30px;
		border: 1px solid #dfdfdf;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
	}
}

// Support for smaller screen
@media all and (max-width: 420px){
	#current-instagram-profile{
		width: 95%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;				
	}

	.wp-admin{
	.wp-ig.instagram-items-title{
			width: 95%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;			
		}
	}	
}