.wp-ig.instagram-items-title{
	text-align: center;
	margin-bottom: 20px;
	border-bottom: 0;
	text-transform: uppercase;
}

.wp-ig.instagram-items{
	width: 400px;
	padding: 30px;
	background: #e0e1e2;
	box-shadow: inset 1px 0 0 rgba(0,0,0,.05),inset -1px 0 0 rgba(0,0,0,.05);
	border-top: 1px solid rgba(0,0,0,.05);
	border-bottom: 1px solid rgba(0,0,0,.05);
	margin: 0 auto 40px;

	.instagram-item{
		background: white;
		box-shadow: 0 0 3px #999;
		margin-bottom: 30px;

		.media{
			width: 400px;
			
			video,
			img{
				width: 100%;
			}
		}

		.meta{
			padding: 10px;
			position: relative;
			background: #fefefe;
			border-bottom: 1px solid #dfdfdf;
			min-height: 75px;

			.avatar{
				width: 40px;
				position: absolute;
				top: 20px;
				left: 20px;

				img{
					width: 100%;
					border-radius: 50%;
				}
			}

			.caption{
				display: block;

				a{
					font-weight: bold;
				}
			}
		}

		.info{
			font-size: 14px;

			.username{
				margin: 0 0 10px;
				font-weight: bold;
			}

			.meta-time{
				margin: 3px 0 0;
				color: #999;

				a{
					color: #999;
				}
			}
		}
	
		.info,
		.comments{
			border-bottom: 1px solid #dfdfdf;
			padding:5px 10px 5px 70px;
		}

		.likes{			
			padding:5px 10px 0 70px;
			margin-bottom: -3px;
		}

		.comments,
		.likes{			
			font-size: 11px;
			text-transform: uppercase;
			letter-spacing: 3px;
			font-weight: bold;
		}
	}

	.more-instagram-items{
		width: 100px;
		text-align: center;
		padding: 7px 0;
		margin: 0 auto;
		display: block;
		border: 1px solid #c6c6c6;
		border-radius: 3px;
		background: #f3f3f3;
		text-decoration: none;
		font-size: 15px;
		font-weight: bold;
		text-shadow: 0 1px 0 rgba(255,255,255,.6);

		&:hover{
			background: #f1f1f1;			
		}

		&:active{
			background: #f0f0f0;			
		}
	}
}