.wp-ig.instagram-items-title{
	text-align: center;
	margin-bottom: 20px;
	border-bottom: 0;
	text-transform: uppercase;
}

.wp-ig.instagram-items{
	width: 400px;
	padding: 30px;
	background: #e0e1e2;
	box-shadow: inset 1px 0 0 rgba(0,0,0,.05),inset -1px 0 0 rgba(0,0,0,.05);
	border-top: 1px solid rgba(0,0,0,.05);
	border-bottom: 1px solid rgba(0,0,0,.05);
	margin: 0 auto 40px;

	.instagram-item{
		background: white;
		box-shadow: 0 0 3px #999;
		margin-bottom: 30px;

		.media{
			width: 400px;
			height: 400px;

			video,
			img{
				width: 100%;
				margin-bottom: 0;
			}
		}

		.meta{
			position: relative;
			background: #fefefe;
			border-bottom: 1px solid #dfdfdf;
			min-height: 75px;

			.avatar{
				width: 40px;
				position: absolute;
				top: 20px;
				left: 20px;

				img{
					width: 100%;
					border-radius: 50%;
				}
			}

			.caption{
				display: block;
				overflow: hidden;

				a{
					font-weight: bold;
				}
			}
		}

		.info{
			font-size: 14px;

			.username{
				margin: 18px 0 5px;
				font-weight: bold;
			}

			.meta-time{
				margin: 3px 0 0;
				color: #999;

				a{
					color: #999;
				}
			}
		}
	
		.info{
			padding:5px 10px 5px 70px;
		}

		.instagram-likes{
			border-bottom: 1px solid #dfdfdf;
			box-shadow: inset 0 1px 7px rgba(0,0,0,.05);			
			font-size: 13px;
			padding: 8px 20px;
			color: #bfbfbf;
			background: #fafafa;
			line-height: 1.5;

			a{
				text-decoration: none;
				color: #888;

				&:hover{
					color: #444;
					text-decoration: underline;
				}
			}
		}

		.instagram-comments{
			border-top: 1px solid #dfdfdf;
			box-shadow: inset 0 1px 7px rgba(0,0,0,.05);
			padding-bottom: 11px;

			.instagram-comment{
				position: relative;

				.avatar{
					width: 25px;
					top: 10px;
					left: 25px;	
				}

				.info{
					padding:10px 10px 5px 70px;
					border-bottom: none;
				}

				.caption{
					font-size: 13px;
				}
			}

			.view-more-comments{
				text-decoration: none;
				font-weight: normal;
			}
		}
	}

	.more-instagram-items{
		width: 100px;
		text-align: center;
		padding: 7px 0;
		margin: 0 auto;
		display: block;
		border: 1px solid #c6c6c6;
		border-radius: 3px;
		background: #f3f3f3;
		text-decoration: none;
		font-size: 15px;
		font-weight: bold;
		text-shadow: 0 1px 0 rgba(255,255,255,.6);

		.loading,
		.label{
			vertical-align: middle;
		}

		.loading{
			margin-right: 5px;
			display: none;
		}

		&.loading{
			width: 120px;

			.loading{
				display: inline-block;
			}
		}

		.label{
			line-height: .6;
		}

		&:hover{
			background: #f1f1f1;			
		}

		&:active{
			background: #f0f0f0;			
		}
	}
}